<style>
    .answer { display: none; }
    .question_type { display: box; }
    #question_label { font-family: sans-serif; font-style: italic; }
</style>
<input type="hidden" name="quiz_id" id="quiz_id" value="#no#" />
<input type="hidden" name="parent_id" id="parent_id" />
<dl>
    <dt>Pytanie: <span id="question_label"></span></dt>
    <dd><input type="text" name="question" id="question" size="50" placeholder="Tutaj wpisz pytanie...." /></dd>
    <dt class="question_type">Typ pytania:</dt>
    <dd class="question_type">
        <select id="type_question" name="type_question">
            <option value="radio">Jednokrotnego wyboru</option>
            <option value="checkbox">Wielokrotnego wyboru</option>
        </select>
    </dd>
    <dt class="answer"></dt>
    <dd class="answer">Odpowiedz poprawna <input type="checkbox" name="is_correct" id="is_correct" /></dd>
</dl>