<div id="statistics">
    <ul>
        <li><a href="#tab1">Konkursy</a></li>
        <li><a href="#tab2">U&#380;ytkownicy</a></li>
        <li><a href="#tab3">Odpowiedzi</a></li>
        <li><a href="#tab4">Pracownicy</a></li>
    </ul>
    <div id="tab1"></div>
    <div id="tab2">
        <h3>Lista u&#380;ytkownik&oacute;w</h3>
        <table class="pure-table">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Imi&#281;, Nazwisko</th>
                    <th>Adres e-mail</th>
                    <th>Data rejestracji</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>