*,body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    font-size: 13px;
}

h1 { font-size: 18pt; }
h2 { font-size: 15pt; }
h3 { font-size: 12pt; }
h4 { font-size: 9pt; }

ol {
    margin-left: 25px;
}
ul {
    margin-left: 15px;
}

button, input[type=button], input[type=submit] {
    border-radius: 6px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border: none;
    padding: 4px 8px;
    background: #BF2228;
    color: #FFF;
    font-weight: bold;
    cursor: pointer;
}
.clear {
    clear: both;
    padding: 5px;
}
#content {
    width: 750px;
    border: 1px solid #fcfcfc;
}