<!DOCTYPE html>
<html lang="pl">
	<head>
            <meta http-equiv="content-type" content="text/html; charset=utf-8" />
            <script src="http://code.jquery.com/jquery-1.10.1.min.js"  type="text/javascript"></script>
            <script src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"  type="text/javascript"></script>
            <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js" type="text/javascript"></script>
            <script src="https://github.com/jackmoore/zoom/raw/master/jquery.zoom-min.js" type="text/javascript"></script>
            {% block scripts %}{% endblock %}
            <link rel="stylesheet" type="text/css" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
            <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/pure/0.2.1/forms-min.css" />
            <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/pure/0.2.1/grids-min.css" />
            <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/pure/0.2.1/base-min.css">
            <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/pure/0.2.1/buttons-min.css">
            {% block styles %}{% endblock %}
	</head>
	<body>
		<header>
			{% block sidebar %}{% endblock %}
		</header>
		<section id="content">
                    <div class="pure-g">
                        {% block content %}{% endblock %}
                    </div>
		</section>
		<footer>
			<div style="text-align: right; font-size: 10px; background: url(http://ryglice.pl/images/logo.png) no-repeat right center; padding-right: 80px;">Power by </div>
		</footer>
	</body>
</html>