<!DOCTYPE html>
<html lang="pl">
	<head>
            <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
            <title>Konkurs Klubu PDP</title>
            <script src="http://code.jquery.com/jquery-1.10.1.min.js"  type="text/javascript"></script>
            <script src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"  type="text/javascript"></script>
            <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js" type="text/javascript"></script>
            <script src="https://github.com/jackmoore/zoom/raw/master/jquery.zoom-min.js" type="text/javascript"></script>
            {% block scripts %}{% endblock %}
            <link rel="stylesheet" type="text/css" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
            <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/pure/0.2.1/forms-min.css" />
            <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/pure/0.2.1/grids-min.css" />
            <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/pure/0.2.1/base-min.css">
            <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/pure/0.2.1/buttons-min.css">
            <style>
                    /* styles unrelated to zoom */
                    p { position:absolute; top:3px; right:28px; color:#555; font:bold 13px/1 sans-serif;}

                    /* these styles are for the demo, but are not required for the plugin */
                    .zoom {
                    display:inline-block;
                    position: relative;
                    }

                    /* magnifying glass icon */
                    .zoom:after {
                    content:'';
                    display:block;
                    width:33px;
                    height:33px;
                    position:absolute;
                    top:0;
                    right:0;
                    background:url(icon.png);
                    }

                    .zoom img {
                    display: block;
                    }

                    .zoom img::selection { background-color: transparent; }
            </style>
	</head>
	<body>
		<header style="background: url(http://www.klubpdp.pl/img/logo-1.jpg?1374833415) no-repeat left top; height: 135px; width: 980px;">
                    <div style="color: #FFF;">{{head|raw}}</div>
		</header>
		<section id="content">
                    <div class="pure-g">
			{% block content %}{% endblock %}
                    </div>
		</section>
		<footer>
			<div style="text-align: right; font-size: 10px; background: url(http://ryglice.pl/images/logo.png) no-repeat right center; padding-right: 80px;">Power by </div>
		</footer>
	</body>
</html>