{% extends "layout/backoffice.twig" %}

{% block content %}
{{ session_test }}
<div class="pure-u-1-2" style="margin: 20px 30px;">
    <form class="pure-form pure-form-stacked" onsubmit="return false;">
        <fieldset>
            <legend>Panel administracyjny</legend>
            <div class="pure-control-group">
                <label for="employe-email">Adres e-mail:</label>
                <input type="email" placeholder="E-mail" name="employe-email" id="employe-email" />
            </div>

            <div class="pure-control-group">
                <label for="employe-pass">Hasło:</label>
                <input type="password" placeholder="Hasło" name="employe-pass" id="employe-pass" />
            </div>  
            <label for="remember" class="pure-checkbox">
                <input type="checkbox" name="remember" id="remember" /> Zapamiętaj logowanie na 90 dni
            </label>
                <button type="submit" id="login-proceed" class="pure-button pure-button-primary">Zaloguj</button>
        </fieldset>
    </form>
</div>
{% endblock %}