{% extends "layout/backoffice.twig" %}

{% block content %}
<h2>Nowy Quiz</h2>
<h3>Podaj nazwę nowego quizu</h3>
<dl>
    <dt>Nazwa quizu</dt>
    <dd><input type="text" name="quiz_name" id="quiz_name" size="70" placeholder="Wpisz tutaj nazwe quizu..." /></dd>
    <dt>Czy quiz ma byc aktywny? <input type="checkbox" name="enabled" id="enabled" /></dt>
    <dd><input type="button" id="next" value="Dalej" /></dd>
</dl>

<script type="text/javascript" src="js/questions.js"></script>

{% endblock %}