{% extends 'layout/frontoffice.twig' %}

{% block content %}
<div class="pure-u-1-4" style="margin: 30px 20px;">
    <form class="pure-form" onsubmit="return false;">
        <fieldset>
            {% if fbfun > 0 %}
            <legend style="font-size: 17px">Aby wziąść udział w losowaniu odpowiedz na poniższe pytania</legend>
            <input type="hidden" name="user_id" id="user_id" value="" />
            <input type="hidden" name="username" id="username" value="{{ me.name }}" />
            <input type="hidden" name="account" id="account" value="{{ user }}" />
            <input {% if me.email == null %}placeholder="Proszę podać swój adres e-mail" size="30"{% endif %} type="{% if me.email == null %}text{% else %}hidden{% endif %}" name="emailaddress" id="emailaddress" value="{{ me.email }}" /><br />
            {% if me.email == null %}
            <div class="clear"></div>
            <div class="clear"></div>
            <button id="email-send" class="pure-button pure-button-primary" style="display: none;" onclick="setUserId('email-send');">OK</button>
            <style>
                    #quiz { display: none; }
            </style>
            {% endif %}
            <div id="quiz">
            <ol>
                {% for q in quest %}
                    
                    <li class="question">{{q.question}}
                    <ul style="list-style: lower-latin">
                    {% for a in questModel.getAnswers(q.question_id) %}
                        <li>
                            <label class="pure-radio" for="q_{{q.question_id}}_a_{{a.question_id}}">
                                <input id="q_{{q.question_id}}_a_{{a.question_id}}" class="answers" type="{{q.question_type}}" value="{{a.question_id}}" name="ans_{{q.question_id}}" />
                                {{a.question}}
                            </label>
                        </li>
                    {% endfor %}
                    </ul></li>
                {% endfor %}
            </ol>
            <div class="clear"></div>
            <button id="answer_btm" class="pure-button pure-button-primary">Poznaj swój wynik!</button>
            <div class="clear"></div>
                </div>
            {% elseif(user == 0) %}
                Najpierw musisz si&#281; zalogowa&#263; na Facebooku aby wzi&#261;&#347;&#263; udzia&#322; w konkursie.
            {% else %}
                Najpierw musisz polubie&#263; nasz fun page aby rozwi&#261;za&#263 pytania konkursowe.<br />
                Kliknij przycisk <i>Lubi&#281;</i> i <a href="javascript: window.location=''">od&#347;wie&#380; stron&#281;</a>
            <iframe src="//www.facebook.com/plugins/like.php?href=https%3A%2F%2Fwww.facebook.com%2Fpages%2FKlub-PDP%2F141710582694023&amp;width=60&amp;height=46&amp;colorscheme=light&amp;layout=button_count&amp;action=like&amp;show_faces=true&amp;send=true&amp;appId=1405307906347465" scrolling="no" frameborder="0" style="display: inline-block;border:none; overflow:hidden; width:160px; height:21px;" allowTransparency="true"></iframe>
            {% endif %}
        </fieldset>
    </form>
</div>
<div class="pure-u-1-3">
    <span class="zoom" id="quiz_img">
        <img width="520" src="https://fbcdn-sphotos-e-a.akamaihd.net/hphotos-ak-prn1/1017643_147382558793492_152655006_n.jpg" alt="1" border="0" />
    </span>
    <script type="text/javascript">
        $("#quiz_img").zoom();
    </script>
</div>
<script src="/app1/js/answers.js" type="text/javascript"></script>
<script src="http://connect.facebook.net/en_US/all.js" type="text/javascript"></script>
{% endblock %}