{% extends 'layout/frontoffice.twig' %}

{% block content %}
<div class="pure-u-1-2">
<h3>Witamy na stronie konkursowej <i>Klubu PDP</i></h3>
<h4>Aktywne konkursu:</h4>
<ol>
    {% for q in quizes.getQuizes() %}
        <li><a href="?space=app1&code={{code}}">{{q.quiz_name}}</a></li>
    {% endfor %}
</ol>
</div>
{% endblock %}